<h2>Корзина</h2>

<div>
    <div>
        <div>
            <table class="table table-condensed">
            <!-- Шапка -->
            <tr class="well">
                    <td><b>Наименование</b></td>
                    <td><b>Количество</b></td>
                    <td><b>Стоимость</b></td>

            </tr>
                <!-- скрыть сообшение о пустой корзине, если товаров больше 1 -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td>Корзина пуста</td>
                </tr>

                <!-- Товары в  корзине, сортировка по имени -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td>
                      <div>
                        <input
                            ng-model="item.quantity"
                            ng-change="cart.saveItems()" /><!-- Количество каждого товара -->
                        <button
                            class="btn btn-success" type="button"
                            ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button> <!-- Прибавить -->
                        <button
                            class="btn btn-danger" type="button"
                            ng-disabled="item.quantity <= 0"
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button> <!-- Уменьшить -->
                      </div>
                    </td>
                    <td>{{item.price * item.quantity}} руб.</td> <!-- Стоимость -->

                    <td>
                        <button
                            class="btn btn-danger" type="button"
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1000000000000)">Удалить</button></td>
                            <!-- Надеюсь больше 1000000000000 раз никто не добавит в корзину =P -->
                </tr>

                <!-- Итог -->
                <tr class="well">
                    <td><b>Итого</b></td>
                    <td><b>{{cart.getTotalCount()}}</b></td> <!-- Общее количество -->
                    <td><b>{{cart.getTotalPrice()}} руб.</b></td><!-- Общая стоимость -->
                    <td />
                </tr>
            </table>
        </div>

        <!-- Кнопки футера -->
        <div>
            <button
                    class="btn btn-block"
                    onclick="window.location.href='index.htm'">Вернуться в магазин
            </button>
            <button
                    class="btn btn-block btn-danger"
                    ng-click="cart.clearItems()"
                    ng-disabled="cart.getTotalCount() < 1" >Очистить корзину
            </button>
        </div>
    </div>
</div>
