    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"><!--  Использую CDN  -->
    <style>
      body {
        width: 900px;
        margin: auto;
      }
    </style>

    <!--  Контейнер магазина  -->
    <div class="row">
      <!--  Блок продукта. Используем "ng-repeat" для выстроения сетки  -->
      <div style="padding-bottom: 15px; padding-top: 5px;" class="col-sm-4" ng-repeat="product in store.goods | orderBy:'name'">
        <!--  Описание и фото  продукта -->
            <img ng-src="http://placehold.it/150x150" alt="{{product.name}}" />
            <!--  Для загрузки конкретных изображений товаров можно применить формат ng-src="images/{{product.sku}}.png"  -->
            <h3>{{product.name}} <br/ ><em>{{product.price}} руб.</em></h3>
            <blockquote>{{product.description}}</blockquote>
            <a href="" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">В корзину</a>
          </div><!--  END Блок продукта  -->
        </div><!--  END Контейнер магазина  -->

          <!--  Контейнер корзины  -->
          <div  align="center">
            <a href="index.htm#/cart" title="перейти в корзину" ng-disabled="cart.getTotalCount() < 1">
                <h4>{{cart.getTotalCount()}} товаров, на общую сумму {{cart.getTotalPrice()}} руб.</h4>
              </div>
          <!--  END Контейнер корзины  -->
